<!DOCTYPE html>
<html>
<head>
    <title>Spam Classifier</title>
</head>
<body>

    <h1>Spam SMS Classifier</h1>

    <form action="/predict" method="POST">

        <textarea
            name="message"
            rows="6"
            cols="50"
            placeholder="Enter your message here...">{{ message if message else "" }}</textarea>

        <br><br>

        <button type="submit">Predict</button>

    </form>

    {% if prediction %}

        <h2>Prediction: {{ prediction }}</h2>

    {% endif %}

</body>
</html>